@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@300;400;600&display=swap');

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --color-pastelPink: #FFD1DC;
  --color-lavender: #E6E6FA;
  --color-gold: #FFD700;

  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans antialiased bg-gradient-to-br from-purple-50 via-pink-50 to-purple-100 min-h-screen text-gray-800;
}